<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<style type="text/css">
    .dl_btn {
        float: right;
    }
</style>

<% if (metadata) { %>

    <div class="container">

        <div class="row">
            <div class="col-sm-4">
                <img src="<%= metadata.itunes_image %>" class="album_art" />
            </div>
            <div class="col-sm-8">
                <div>
                    <script src="https://s3.amazonaws.com/dataskeptic.com/player.js" playlist="<%= metadata.enclosure_url %>" artwork="<%= metadata.itunes_image %>" title="<%= metadata.title %>"></script>
                </div>
                <div class="dl_btn"><a href="/download/?q=<%= metadata.enclosure_url %>" download><button class="btn"><i class="fa fa-download"></i> Download</button></a></div>
                    <%- body %>
                    <br/>

                    <% if (transcript && transcript.sentences && transcript.sentences.length > 0) { %>
                        <h3>Transcript</h3>
                    <% } %>

                    <table>
                        <% for (var i=0; i < transcript.sentences.length; i++) { %>
                            <tr>
                                <td valign="top" style="min-width:100px"><%= transcript.sentences[i].speaker %></td>
                                <td><%= transcript.sentences[i].text %></td>
                            </tr>
                            <tr><td>&nbsp;</td></tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>

    </div>

<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Auto width -->

<% } else { %>

    <div class="container">
        <%- body %>
    </div>

<% } %>

<br/><br/><br/>

<center>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- footer -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9618988589932555"
     data-ad-slot="8794876207"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</center>

</body>
</html>
