<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="https://s3.amazonaws.com/dataskeptic.com/ds_sm.jpg">
    </a>
    <h1>Data Skeptic</h1>
    <p>Your trusted podcast, centered on data science, machine learning, and artificial intelligence. <br> Tune in weekly for the latest interviews with leading experts.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://podcasts.apple.com/us/podcast/data-skeptic/id890348705"><span class="glyphicon glyphicon-apple"></span>Listen on iTunes</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://www.stitcher.com/podcast/data-skeptic-podcast/the-data-skeptic-podcast"><span class="glyphicon glyphicon-triangle-right"></span>Listen on Stitcher</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h2>Latest: <%= episode.title %></h2>
      <p><%= episode.abstract %></p>
      <audio controls="controls">
        <source src="<%= episode.mp3_url %>" />
      </audio>
    </div>
    <div class="col-sm-6">
      <% for (const blog of blogs) { %>
      <div class="blog-small">
        <h4><a href="<%= blog.url %>"><%= blog.title %></a></h4>
        <p><%= blog.description %></p>
      </div>
      <% } %>
    </div>
  </div>
</div>

</body>
</html>
