<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/nav.ejs %>

<div class="container">

    <h1><%= title %></h1>

    <% for (const episode of episodes) { %>
      <div class="podcast_summary">
        <div class="left">
          <img class="album_art" src="<%= episode.album_cover %>" />
        </div>
        <div class="right">
          <h2><%= episode.title %></h2>
          <p>
            <%= episode.abstract %> ...
            <a href="/blog/<%= episode.path %>">[more]</a>
          </p>
          <pre><%= JSON.stringify(episode) %></pre>
          <div className="player">
            <script src="http://s3.amazonaws.com/dataskeptic.com/player.js" playlist="<%= episode.mp3_url %>" artwork="<%= episode.album_cover %>" title="<%= episode.title %>"></script>
          </div>
        </div>
      </div>
      <div><br /></div>
    <% } %>

</div>


</body>
</html>
